[Unit]
Description=AdGuard Prometheus Exporter
After=network.target

[Service]
User=root
WorkingDirectory=/znand_ae/adguard_exporter
ExecStart=/usr/bin/python3 /home/znand/adguard_exporter/adguard_exporter.py
Restart=always

[Install]
WantedBy=multi-user.target
